@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

html { 
	height: 100%;
	background: #EEE;}

h1 {
	position: absolute;
	text-align: center;
	left:0;
	right:0;
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 25px;
	font-weight: 300;
	z-index: -1;
}

.centered {
	position: relative;
	text-align: center;
}

.txtinput{
	top:100px;
	width: 100%;
	
}

.button {
  background-color: white;
  border: none;
  color: red;
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 20px;
  top: 25px;
  cursor: pointer;
}
.txt{
	position: relative;
	text-align: center;
	top: 100px;
	 margin: 10px 20px;
}


