<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Chance of publisher releasing a game</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
		<h1>Predict Genre of Game released by Publisher</h1>
	<Form class = "centered txtinput" action="{{ url_for("predict")}}"method="post">
	<fieldset>
        <legend>Input values:</legend>
        <br> Year:
        <input name="year" type="number" required>
        <br>
        <br>Publisher:
        <input name="publisher" type="number" required>
		<br>
        <br>NA_Sales:
        <input name="na_sales" type="number" required>
        <br>
        <br> EU_Sales:
        <input name="eu_sales" type="number" required>
        <br>
		<br> JP_Sales:
        <input name="genre" type="number" required>
		<br>
		<br> Other_sales:
        <input name="other_sales" type="number" required>
		<br>
		<br> Global_sales:
        <input name="global_sales" type="number" required>
        
        <input type="submit">
    </fieldset>
	
		</form>
		
		<div class="centered txt">
		{{ prediction_text }}
		
		</div>

		<br>

		<div class="txt">
		 
			<dl>
				<dt><u>Publisher</u></dt>
				<dd>0 = Idea Factory</dd>
				<dd>1 = Idea Factory International</dd>
				<dd>2 = Marvelous Entertainment</dd>
				<dd>3 = Marvelous Interactive</dd>
				<dd>4 = Marvelous Games</dd>
				<dd>5 = Xseed Games</dd>
				<dd>6 = Tecmo Koei</dd>
				<dd>7 = Type-Moon</dd>
				<dd>8 = Sega</dd>
				<dd>9 = Nintendo</dd>
				<dd>10 = Sony Computer Entertainment</dd>
				<dd>11 = Sony Computer Entertainment America</dd>
				<dd>12 = Sony Computer Entertainment Europe</dd>
			</dl> 
		</div>
		
		<div class="txt">
		
			<dl>
				<dt><u>Genre</u></dt>
				<dd>0 = Action</dd>
				<dd>1 = Adventure</dd>
				<dd>2 = Fighting</dd>
				<dd>3 = Misc</dd>
				<dd>4 = Platform</dd>
				<dd>5 = Puzzle</dd>
				<dd>6 = Racing</dd>
				<dd>7 = Role-Playing</dd>
				<dd>8 = Shooter</dd>
				<dd>9 = Simulation</dd>
				<dd>10 = Sports</dd>
				<dd>11 = Strategy</dd>
				
			</dl> 
		</div>
		<br>
		<br>
		
	

		
</body>
</html>
